
.raleway-uniquifier {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.my-button:hover{
  background-color: yellow;
}



/* banner section*/

.nav{
  display: flex;
  justify-content: space-around;
}

.nav-btn{
  background-color: #4E47FF;
   border: none;
   font-size: 15px;
    color: white;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    width: 100px;
    margin-top: 20px;
}

.cool{
  text-align: center;
  font-weight: bold;
  margin-top: 90px;
  color:#252432;
}
.nav-btn2{
  background-color: #4E47FF;
   border: none;
   
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-left: 555px;
    width: 120px;
    margin-bottom: 50px;
    
}

.banner{
  background-image: url('../image/Hero-bg.png');
  margin-top: 0;
  margin-bottom: 50px;
}



/*action section*/

.action{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 200px;
  margin-bottom: 50px;
}

.action-btn{

   background-color: #4E47FF;
   border: none;
   
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    
    width: 200px;
    
}

.action-img{
border-radius: 20px;
width: 300px;
height: 250px;

}

/*productive-user-section*/

.productive-users-section {
   background-color:rgb(195, 195, 250) ;
  padding: 20px 20px; /
  text-align: center; 
  font-family: sans-serif;
  border-radius: 15px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  
}


.users-container {

  margin-bottom: 30px;
  border: 1px ;
  padding: 20px;
  
}


h2 {
  color: black;
  font-size: 2.2em; 
  margin-bottom: 40px;
  text-align: center;
}


.user-card {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  gap: 20px; 
}


.user-item {
  flex: 1; 
  min-width: 200px; 
  color: #5a5a7b; 
  margin-bottom: 20px;
  margin-left: 100px;
}


.user-item .number {
  font-size: 3.5em; 
  font-weight: bold; 
  color: #4b66f2; 
  margin-bottom: 5px; 
}


.user-item .text {
  font-size: 1.1em; 
  color: rgb(138, 135, 135);

}

/*card-section*/

.card{
  display: flex;
  justify-content: center;
  gap: 50px;
  
}
.card-title{
  text-align: center;
}

.card-content{
  width: 200px;
  height: 200px;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgb(239, 237, 237);
  
}

.last-text{
  color: rgb(79, 77, 77);
  font: small;
}

.bottom-card{
  display: flex;
  gap: 4px;
}
.bottom-img{
  style="width: 15px;
   height: 30px;
   border-radius: 10px;
    margin-top: 25px;">
}


/*ready section*/
 .ready-section{

  margin-top: 150px;
 }

 .ready-heading{
  text-align: center;
  font-weight:bolder;
  font-size: 2em;

 }

 .ready-text{
  text-align: center;
  font-size: 0.85em;
  color: rgb(125, 122, 122);
 }

 .ready-btn{
   background-color: #4E47FF;
   border: none;
   font-size: 15px;
    color: white;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    width: 150px;
    margin-top: 20px;
    margin-left: 530px;
 }

 .ready-img{
  margin-left: 240px;
  margin-top: 10px;
  border-radius: 20px;
 }


 /*form-section*/
 .form{
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
 }

.form-section{
  margin-top: 100px;
}

.left-form{
  font-weight: bolder;
  font-size: 4em;
}
 .form-section label{
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  
 }

 .form-section input,textarea{
  width: 60%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid rgb(181, 179, 179);
  border-radius: 5px;
  
 }

 .form-btn{
   background-color: #4E47FF;
   border: none;
   font-size: 15px;
    color: white;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    width: 300px;
    margin-top: 20px;
    
 }

 /*foot section*/


 .foot{
  text-align: center;
  margin-top: 100px;
 }
 .foot ul a{
  text-decoration: none;
  color: gray;
  margin: 0 15px;
 }

 .foot-heading{
  font-size: 4em;
  font-weight: bold;
  color: #4b66f2;
 }

 .foot-text{
   font-size: 1rem;
   color: rgb(168, 166, 166); 
 }