
.raleway-uniquifier {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}





/* banner section*/

.nav{
  display: flex;
  justify-content: space-around;
}

.nav-btn{
  background-color: #4E47FF;
   border: none;
   font-size: 15px;
    color: white;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    width: 100px;
    margin-top: 20px;
}

.cool{
  text-align: center;
  font-weight: bold;
  margin-top: 90px;
  color:#252432;
}
.nav-btn2{
  background-color: #4E47FF;
   border: none;
   
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-left: 555px;
    width: 120px;
    margin-bottom: 100px;
    
}

.banner{
  background-image: url('../image/Hero-bg.png');
  margin-top: 0;
  margin-bottom: 50px;
}